In [3]:
import pandas as pd
import seaborn as srn
import statistics as sts
import matplotlib.pyplot as plt

In [6]:
dados = pd.read_csv('saude_sono.csv', sep = ";")

In [16]:
# formato do dataframe 
dados.shape

(374, 13)

In [21]:
# verificando os primeiros dados da planilha 
dados.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1.0,Male,27,Software Engineer,6.1,6.0,42,6.0,Overweight,126/83,77.0,4200.0,NaN
1,2.0,Male,28,Doctor,6.2,6.0,60,8.0,Normal,125/80,75.0,10000.0,NaN
2,3.0,Male,28,Doctor,6.2,6.0,60,8.0,Normal,125/80,75.0,10000.0,NaN
3,4.0,Male,28,Sales Representative,5.9,4.0,30,8.0,Obese,140/90,85.0,3000.0,Sleep Apnea
4,5.0,Male,28,Sales Representative,5.9,4.0,30,8.0,Obese,140/90,85.0,3000.0,Sleep Apnea

In [23]:
#verificando os ultimos dados da planilha
dados.tail()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
369,370.0,Female,59,Nurse,8.1,9.0,75,3.0,Overweight,140/95,68.0,7000.0,Sleep Apnea
370,371.0,Female,59,Nurse,8.0,9.0,75,3.0,Overweight,140/95,68.0,7000.0,Sleep Apnea
371,372.0,Female,59,Nurse,8.1,9.0,75,3.0,Overweight,140/95,68.0,7000.0,Sleep Apnea
372,373.0,Female,59,Nurse,8.1,9.0,75,3.0,Overweight,140/95,68.0,7000.0,Sleep Apnea
373,374.0,Female,59,Nurse,8.1,9.0,75,3.0,Overweight,140/95,68.0,7000.0,Sleep Apnea

In [57]:
#renomeando as colunas para PT-BR
dados.rename(columns={
    'Person ID': 'ID',
    'Gender': 'Genero',
    'Age': 'Idade',
    'Occupation': 'Ocupação',
    'Sleep Duration': 'Duração de Sono',
    'Quality of Sleep': 'Qualidade do Sono',
    'Physical Activity Level': 'Nível de Atividade Física',
    'Stress Level': 'Nível de Stress',
    'BMI Category': 'IMC',
    'Blood Pressure': 'Pressão Sanguínea',
    'Heart Rate': 'Frequêcia Cardíaca',
    'Daily Steps': 'Passos Diários',
    'Sleep Disorder': 'Distúrbio do Sono'
}, inplace=True)

In [59]:
#Verificando as alterações
dados.head(1)

,ID,Genero,Idade,Ocupação,Duração de Sono,Qualidade do Sono,Nível de Atividade Física,Nível de Stress,IMC,Pressão Sanguínea,Frequêcia Cardíaca,Passos Diários,Distúrbio do Sono
0,1.0,Male,27,Software Engineer,6.1,6.0,42,6.0,Overweight,126/83,77.0,4200.0,NaN

In [61]:
#Verificando os dados nulos
dados.isnull().sum()

ID                             0
Genero                         0
Idade                          0
Ocupação                       0
Duração de Sono                0
Qualidade do Sono              1
Nível de Atividade Física      0
Nível de Stress                1
IMC                            0
Pressão Sanguínea              0
Frequêcia Cardíaca             3
Passos Diários                 4
Distúrbio do Sono            219
dtype: int64

In [63]:
#descrição da coluna ID
dados.ID

0        1.0
1        2.0
2        3.0
3        4.0
4        5.0
       ...
369    370.0
370    371.0
371    372.0
372    373.0
373    374.0
Name: ID, Length: 374, dtype: float64

In [69]:
#Preenchendo dados nulos de ID
dados.fillna({'ID': 375}, inplace = True)
dados.fillna({'ID': 376}, inplace = True)

In [71]:
# verificando se ainda existem valores nulos
dados['ID'].isnull().sum()

0

In [92]:
# Preechendo dados nulos em Qualidade do Sono 
mediana_qualiSono = sts.median(dados['Qualidade do Sono'])
mediana_qualiSono 
dados.fillna({'Qualidade do Sono': mediana_qualiSono}, inplace= True)

In [94]:
# verificando se ainda existem valores nulos
dados['Qualidade do Sono'].isnull().sum()

0

In [98]:
# Preechendo dados nulos em Nivel de Stress 
mediana_Nivel_Stress = sts.median(dados['Qualidade do Sono'])
mediana_Nivel_Stress
dados.fillna({'Nível de Stress': mediana_Nivel_Stress}, inplace= True)

In [100]:
# verificando se ainda existem valores nulos
dados['Nível de Stress'].isnull().sum()

0

In [102]:
# Preechendo dados nulos em Frequêcia Cardíaca    
mediana_FreqCard = sts.median(dados['Frequêcia Cardíaca'])
mediana_FreqCard
dados.fillna({'Frequêcia Cardíaca': mediana_FreqCard}, inplace= True)

In [106]:
# verificando se ainda existem valores nulos
dados['Frequêcia Cardíaca'].isnull().sum()

0

In [112]:
# Preechendo dados nulos em Passos Diários   
mediana_PassosD = sts.median(dados['Passos Diários'])
mediana_PassosD
dados.fillna({'Passos Diários': mediana_PassosD}, inplace= True)

In [114]:
# verificando se ainda existem valores nulos
dados['Passos Diários'].isnull().sum()

0

In [120]:
# agrupamos disturbio do sono
dados_DistSono = dados.groupby(['Distúrbio do Sono']).size()
dados_DistSono

Distúrbio do Sono
Insomnia       77
Sleep Apnea    78
dtype: int64

In [122]:
# preenchendo os valores nulos com a moda 
dados.fillna({'Distúrbio do Sono': 'Sleep Apnea'}, inplace = True)

In [124]:
# verificar se ainda existem valores nulos
dados['Distúrbio do Sono'].isnull().sum()

0

In [126]:
#Verificando todos os dados nulos
dados.isnull().sum()

ID                           0
Genero                       0
Idade                        0
Ocupação                     0
Duração de Sono              0
Qualidade do Sono            0
Nível de Atividade Física    0
Nível de Stress              0
IMC                          0
Pressão Sanguínea            0
Frequêcia Cardíaca           0
Passos Diários               0
Distúrbio do Sono            0
dtype: int64

In [130]:
#relembrando o resumo estatístico
dados['Idade'].describe()

count    374.000000
mean      42.184492
std        8.673133
min       27.000000
25%       35.250000
50%       43.000000
75%       50.000000
max       59.000000
Name: Idade, dtype: float64

In [138]:
# descobrir os valores dos limites de Idade

q1 = 35
q3 = 50
iq = q3 - q1
lim_inf =  q1 - 1.5 * iq
lim_sup = q3 + 1.5 * iq

print('iq: ', iq, '\nlim_inf: ', lim_inf, '\nlim_sup: ', lim_sup)

iq:  15
lim_inf:  12.5
lim_sup:  72.5

In [136]:
# conferir se ainda tem outlier
dados.loc[((dados['Idade'] <= lim_inf) | (dados['Idade'] >= lim_sup))]

Empty DataFrame
Columns: [ID, Genero, Idade, Ocupação, Duração de Sono, Qualidade do Sono, Nível de Atividade Física, Nível de Stress, IMC, Pressão Sanguínea, Frequêcia Cardíaca, Passos Diários, Distúrbio do Sono]
Index: []

In [142]:
#relembrando o resumo estatístico
dados['Duração de Sono'].describe()

count    374.000000
mean       7.132086
std        0.795657
min        5.800000
25%        6.400000
50%        7.200000
75%        7.800000
max        8.500000
Name: Duração de Sono, dtype: float64

In [144]:
# descobrir os valores dos limites de Duração de Sono

q1 = 6.400
q3 =  7.800
iq = q3 - q1
lim_inf =  q1 - 1.5 * iq
lim_sup = q3 + 1.5 * iq

print('iq: ', iq, '\nlim_inf: ', lim_inf, '\nlim_sup: ', lim_sup)

iq:  1.3999999999999995
lim_inf:  4.300000000000001
lim_sup:  9.899999999999999

In [164]:
# conferir se ainda tem outlier
dados.loc[((dados['Duração de Sono'] <= lim_inf) | (dados['Duração de Sono'] >= lim_sup))]

Empty DataFrame
Columns: [ID, Genero, Idade, Ocupação, Duração de Sono, Qualidade do Sono, Nível de Atividade Física, Nível de Stress, IMC, Pressão Sanguínea, Frequêcia Cardíaca, Passos Diários, Distúrbio do Sono]
Index: []

In [166]:
#relembrando o resumo estatístico
dados['Qualidade do Sono'].describe()

count    374.000000
mean       7.310160
std        1.196534
min        4.000000
25%        6.000000
50%        7.000000
75%        8.000000
max        9.000000
Name: Qualidade do Sono, dtype: float64

In [168]:
# descobrir os valores dos limites de Qualidade do Sono

q1 = 6.00
q3 =  8.00
iq = q3 - q1
lim_inf =  q1 - 1.5 * iq
lim_sup = q3 + 1.5 * iq

print('iq: ', iq, '\nlim_inf: ', lim_inf, '\nlim_sup: ', lim_sup)

iq:  2.0
lim_inf:  3.0
lim_sup:  11.0

In [188]:
# conferir se ainda tem outlier
dados.loc[((dados['Qualidade do Sono'] <= lim_inf) | (dados['Qualidade do Sono'] >= lim_sup))]

Empty DataFrame
Columns: [ID, Genero, Idade, Ocupação, Duração de Sono, Qualidade do Sono, Nível de Atividade Física, Nível de Stress, IMC, Pressão Sanguínea, Frequêcia Cardíaca, Passos Diários, Distúrbio do Sono]
Index: []

In [208]:
# descobrir os valores dos limites de Nível de Atividade Física

q1 = 45
q3 =  75
iq = q3 - q1
lim_inf =  q1 - 1.5 * iq
lim_sup = q3 + 1.5 * iq

print('iq: ', iq, '\nlim_inf: ', lim_inf, '\nlim_sup: ', lim_sup)

iq:  30
lim_inf:  0.0
lim_sup:  120.0

In [222]:
mediana_Naf = sts.median(dados['Nível de Atividade Física'])
mediana_Naf

60.0

In [232]:
# substituir os outliers pela mediana
# valores abaixo de lim_inf OU acima de lim_sup
dados.loc[((dados['Nível de Atividade Física'] <= lim_inf) | (dados['Nível de Atividade Física'] >= lim_sup)), 'Nível de Atividade Física'] = mediana_Naf

In [234]:
# conferir se ainda tem outlier
dados.loc[((dados['Nível de Atividade Física'] <= lim_inf) | (dados['Nível de Atividade Física'] >= lim_sup))]

Empty DataFrame
Columns: [ID, Genero, Idade, Ocupação, Duração de Sono, Qualidade do Sono, Nível de Atividade Física, Nível de Stress, IMC, Pressão Sanguínea, Frequêcia Cardíaca, Passos Diários, Distúrbio do Sono]
Index: []